@import "bourbon";
@import "font-awesome";

body {
  background: #A1E402;
}

h2{
  text-align: center;
}

li{
  list-style-type: none;
  width: 80%;
  border: 1px solid #A1E402;
  border-radius: 25px;
  background-color: magenta;
  color: white;
  padding: 5px 0;
  margin: 5px 0;
}

ul{
margin-left: 10%;
margin-right: 10%;
display: block;
}

a{
  color: white;
  text-decoration: none;
}

div.app{
  border: none;
  padding: 0;
  background-color: #A1E402;
  margin-top: 50px;
}

div{
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  border: 1px solid #A1E402;
  border-radius: 250px;
  background-color: white;
}