@import "bourbon";
@import "font-awesome";

body {
  background: #A1E402;
}

h2{
  text-align: center;
  color: #444442;
}
h3{
  text-align: center;
  color: #444442;
}
h3.Contacts{
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  color: white;
  background-color: magenta;
  border: 1px solid magenta;
  border-radius: 25px;
  width: 200px;
}

h3.addContact{
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  color: #444442;
  background-color: white;
  border: 0 solid magenta;
  border-radius: 25px;
  width: 200px;
}

form{
  color: #444442;
}

input{
  border-radius: 25px;
  border: 1px solid magenta;
}

.submit{
  color: white;
  background-color: magenta;
  border: none;
  border-radius: 25px;
}

li{
  list-style-type: none;
  width: 80%;
  border: 1px solid white;
  border-radius: 25px;
  background-color: magenta;
  color: white;
  padding: 5px 0;
  margin: 5px 0;
}

ul{
margin-left: 10%;
margin-right: 10%;
display: block;
}

a{
  color: white;
  text-decoration: none;
}

div.app{
  border: none;
  padding: 0;
  background-color: #A1E402;
  margin-top: 50px;
}

div{
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  border: 1px solid white;
  border-radius: 250px;
  background-color: white;
}